.match-card-li-container {
  background-color: #0f172a;
  height: 350px;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  width: 275px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.head-text {
  font-size: 22px;
}
.con {
  height: 120px;
}
.match-card-img {
  width: 80px;
  height: 100px;
}
.red-color {
  color: #e31a1a;
}
.green-color {
  color: #18ed66;
}
@media (max-width: 576px) {
  .match-card-li-container {
    width: 210px;
  }
  .head-text {
    font-size: 16px;
  }
  .con {
    height: 100px;
  }
  .match-card-img {
    width: 60px;
    height: 80px;
  }
}
