.team-match-bg-container {
  background-image: linear-gradient(#d91c1f, #1e293b);
  height: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.semi-container {
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-image {
  width: 900px;
  height: 400px;
}
.latest-match-text {
  align-self: flex-start;
  color: #ffffff;
}
@media (max-width: 576px) {
  .team-match-bg-container {
    width: 100%;
  }
  .banner-image {
    width: 450px;
    height: 200px;
  }
  .semi-container {
    width: 100%;
  }
}
